/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #eff1f5FF;
    background-alt: #e6e9efFF;
    foreground:     #4c4f69FF;
    selected:       #7AA2F7FF;
    active:         #ABE9B3FF;
    urgent:         #F28FADFF;
}
